body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 50;
}

.cart {
  margin-left: 20px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #fefefe;
}

.hero-text {
  flex: 1;
  padding-right: 50px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: rgb(241, 97, 45);
}

.hero-text h1 span {
  color: rgb(17, 15, 15);
}

.hero-text p {
  font-size: 15px;
  line-height: 1.6;
  color: #8e8e8e;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
.plants-section {
  text-align: center;
  padding: 60px 30px;
  background-color: #fff;
}

.plants-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.plants-section h1 span {
  color: rgb(241, 97, 45);
}

.plants-section p {
  font-size: 18px;
  color: #8e8e8e;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.plants-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.plant-item {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.plant-item img {
  width: 100%;
  border-radius: 8px;
}

.plant-item h2 {
  font-size: 20px;
  margin: 12px 0 6px;
}

.plant-item p {
  font-size: 18px;
  color: rgb(241, 97, 45);
  margin: 1px 0;
}

.plant-item button {
  background-color: rgb(241, 97, 45);
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.plant-item button:hover {
  background-color: rgb(241, 97, 45);
}
.trusted-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 30px;
  background-color: #fff;
  flex-wrap: wrap;
}

.florist-section img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.trusted-section {
  max-width: 500px;
  position: absolute;
  top: 1500px;
  right: 10px;
  left: 16%;
  width: 500px,;
  z-index: 10;


}

.trusted-badge {
  width: 120px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.trusted-section h2 {
  font-size: 32px;
  color: #333;
  
  padding-left: 100px;
  margin-top: 10px;
}

.trusted-description p {
  font-size: 10px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1;
  right: 300px;
  padding-left: 100px;
}